<div id="researchHeader">
    <div id="researchResults">Search results : <%= researchItem %></div>
    <div id="researchFilter">
        <div class="filterContainer"><a href="#research/<%= researchItem %>"><span id="filterAll"
                                                                                   class="selectedFilter">All</span></a>
        </div>
        <div class="filterContainer"><a href="#research/<%= researchItem %>/albums"><span id="filterAlbum">Albums</span></a>
        </div>
        <div class="filterContainer"><a href="#research/<%= researchItem %>/artists"><span
                id="filterArtist">Artists</span></a></div>
        <div class="filterContainer"><a href="#research/<%= researchItem %>/tracks"><span id="filterTrack">Tracks</span></a>
        </div>
        <div class="filterContainer"><a href="#research/<%= researchItem %>/users"><span
                id="filterUser">Users</span></a></div>
    </div>
</div>

<div id="results">
    <%_.each(researchModel, function(result) {%>
    <div class="result" data-url="<%= result.link %>" data-type="<%= result.type %>" data-id="<%= result.itemId %>">
        <div class="searchImageContainer">
            <% if (result.type == "collection") {
            if (researchType == "albums") {%>
            <img src="<%= result.coverImage %>">
            <%} else { %>
            <img src="img/icons/album.png">
            <%} %>
            <% } else if (result.type == "track"){ %>
            <img src="img/icons/music.png">
            <% } else if (result.type == "artist"){ %>
            <img src="img/icons/artist.png">
            <% } %>
        </div>
        <% if (userLoggedIn) {%>
        <div class="buttonContainer">
            <% if (result.type == "collection" || result.type == "track") {%>
            <button class="searchAddPlaylist" type="button">+Playlist</button>
            <% } %>
        </div>
        <%} %>
        <%= result.name %>
    </div>
    <%});%>

    <%_.each(users, function(user) {%>
    <div class="result" data-url="#user/<%=user.userId%>" data-type="user" data-id="<%=user.userId%>">
        <div class="searchImageContainer">
            <% if (researchType == "users") {%>
            <img src="<%= user.gravatarImage %>">
            <%} else { %>
            <img src="img/icons/user.png">
            <%} %>
        </div>
        <div class="buttonContainer">
            <% if (user.userId != currentUserModel.attributes.userId) {%>
            <button type="button" class="followUserButton">
                <% if (currentUserModel.isFollowing(user.userId)) {%>
                Unfollow
                <%} else {%>
                +Follow
                <%} %>
            </button>
            <%} %>
        </div>
        <%= user.name %> - <%= user.email %>
    </div>
    <%});%>
</div>
<div id="playlistMenuContainer" class="hidden"></div>
