<a href="#" class="logo normalFontLogo titleName">
    <span class="greyLetter">U</span><span class="orangeLetter">Beat</span>
</a>

<div id="musicSearch">
    <div id="searchContainer" class="searchBarPositionning">
        <form id="search">
            <input id="searchBar" type="text" size="40" placeholder="Search..." autocomplete="off"/>
        </form>
    </div>

    <div id="searchResults"></div>
</div>

<div>
    <div id="userContainer"></div>

    <div id="connectionButtons"></div>
</div>

<div id="loginFormContainer" class="formContainer"></div>

<div id="signUpFormContainer" class="formContainer"></div>


