<div id="loginForm" class="userForm">
    <form>
        <ul>
            <li>
                E-mail: <input id="loginEmail" type="email" name="email">
            </li>
            <li id="loginEmailError" class="formErrorMessage"></li>
            <li>
                Password: <input id="loginPasswordField" type="password" name="password">
            </li>
            <li id="loginPasswordError" class="formErrorMessage"></li>
            <li id="loginError" class="formErrorMessage"></li>
        </ul>
    </form>
    <div class="userActionButtonForm">
        <span id="loginFormOk" class="textStyle textButton">Ok</span>
        <span id="loginFormClose" class="textStyle textButton">Close</span>
    </div>
</div>