<% if (headerInfo.length != 0) { %>

<div class="searchResults">
    <% _.each(headerInfo, function(searchResult, index){ %>
    <a class="resultLink" href="<%= searchResult.link %>">
        <div class="singleResult" data-resultnumber="<%=index%>">

            <div class="searchImage">
                <img src="<%= searchResult.coverImage %>">
            </div>

            <div class="searchInformation">

                <div class="removeTextTooLong">
                            <span class="mainTextResult">
                                <%= searchResult.name %>
                            </span>
                </div>

                <div class="removeTextTooLong">
                            <span class="subTextResult">
                                <%= searchResult.subName %>
                            </span>
                </div>
            </div>
        </div>
    </a>
    <% }); %>

    <% _.each(userInfo, function(user, index){ %>
    <a class="resultLink" href="#user/<%=user.userId%>">
        <div class="singleResult" data-resultnumber="<%=index + headerInfo.length %>">

            <div class="searchImage">
                <img src="<%=user.gravatarImage%>">
            </div>

            <div class="searchInformation">

                <div class="removeTextTooLong">
                            <span class="mainTextResult">
                                <%= user.name %>
                            </span>
                </div>

                <div class="removeTextTooLong">
                            <span class="subTextResult">
                                <%= user.email %>
                            </span>
                </div>
            </div>
        </div>
    </a>
    <% }); %>
</div>
<% } %>