<div id="signUpForm" class="userForm">
    <form>
        <ul>
            <li>
                Name: <input id="signUpName" type="text" name="name">
            </li>
            <li id="signUpNameError" class="formErrorMessage"></li>
            <li>
                E-mail: <input id="signUpEmail" type="email" name="email">
            </li>
            <li id="signUpEmailError" class="formErrorMessage"></li>
            <li>
                Password: <input id="signUpPasswordField" type="password" name="password">
            </li>
            <li id="signUpPasswordError" class="formErrorMessage"></li>
            <li>
                Confirm password: <input id="signUpConfirmPasswordField" type="password" name="confirm_password">
            </li>
            <li id="signUpConfirmPasswordError" class="formErrorMessage"></li>
            <li id="emailAlreadyExist" class="formErrorMessage"></li>

        </ul>
    </form>
    <div class="userActionButtonForm">
        <span id="signUpFormOk" class="textStyle textButton">Ok</span>
        <span id="signUpFormClose" class="textStyle textButton">Close</span>
    </div>
</div>