<ul class="userInfoList">
    <li class="textStyle"> <%=userInfo.name%>
        <ul class="subMenuTransition textStyle">
            <li id="myProfile" class="subMenu textStyle">
                <a href="#user/<%=userInfo.userId%>">My Profile</a>
            </li>
            <li class="subMenu textStyle">
                <a href="#playlists">Playlists</a>
            </li>
            <li id="disconnection" class="subMenu textStyle">Disconnect</li>
        </ul>
    </li>
    <li>
        <div class="arrow-down"></div>
    </li>
</ul>

<a href="#user/<%=userInfo.userId%>">
    <img class="userGravatar" src="<%=userInfo.smallGravatarImage%>">
</a>

