<div id="content">
    <h2>Playlists</h2>

    <div class="createPlaylist">
        <input type="text" placeholder="Create a new playlist" id="newPlaylistName">
        <button id="newPlaylistButton" class="acceptButton"></button>
    </div>
    <div class="playlistErrorMessage hidden"></div>
    <% var i = 1 %>
    <div class="allPlaylistContainer">
        <%_.each(playlists, function(playlist) {%>
        <div class="playlistContainer noselect" id="playlistContainer<%= i%>" data-id="<%= playlist.id %>">

        </div>


        <% i = i + 1 %>
        <%});%>
    </div>
</div>