<%_.each(playlistSongs, function(song) {%>
<li class="playlistSongEntry" data-id="<%= song.songPreviewUrl %>">

    <div class="playlistAlbumCoverMiniature">
        <img src="<%= song.songArtwork %>"/>
    </div>

    <div class="playlistSongMetadata"><strong><%= song.songName %></strong> - <%= song.songArtist %></div>
    <div class="playlistSongLength"><%= song.songLength %></div>
    <button class="deletePlaylistTrackButton" data-id="<%= song.id %>"></button>
</li>
<%});%>