<div class="playlistInfo">
    <div class="playlistNumber"><%= playlistNumber %></div>
    <div class="playlistName">
        <%= playlist.name %>
    </div>
    <div class="editPlaylist hidden">
        <input type="text" placeholder="<%= playlist.name %>" class="editPlaylistName">
        <button class="okEditPlaylistButton acceptButton" data-id="<%= playlist.id %>"></button>
        <button class="cancelButton"></button>
    </div>
    <div class="playlistNumberOfSongs"><%= playlist.numberOfSongs %></div>
    <div class="playlistNumberOfSongsLabel">
        <% if (playlist.numberOfSongs > 1) { %>
        songs
        <% } else {%>
        song
        <% }%>
    </div>
</div>

<div class="playlistActions">
    <button class="editPlaylistButton" data-id="<%= playlist.id %>"></button>
    <button class="deletePlaylistButton" data-id="<%= playlist.id %>"></button>
</div>

<ul class="playlistSongs hidden">

</ul>