<div id="albumBackground" class="insideBlackBoxShadow"
     style="background-image: url('<%= albumInfo.albumCoverImageVeryHighResUrl %>')">
</div>
<div id="albumContainer" class="content fullHeight">
    <div class="albumMetadata blackTextShadow">
        <h1 class="albumTitle whitePageHeading"><%= albumInfo.albumName %></h1>

        <div class="albumSecondaryMetadata">
            <div class="albumArtistMetadata">
                <a class="white" href="#artists/<%= albumInfo.albumArtistId %>">
                    <span class="artistName"><%= albumInfo.albumArtist %></span>
                </a>
                <span class="albumYear">@ <%= albumInfo.albumReleaseDate %></span>
            </div>
            <span class="albumGenre"><%= albumInfo.albumGenre %></span>
        </div>

        <div class="purchaseLinks">
            <a class=itunesDownloadButton href="<%= albumInfo.albumLinkUrl %>"
               target="itunes_store"></a>
        </div>

        <div class="albumCover orangeBorder">
            <a class="playAlbum blackTextShadow">Play All Songs</a>
            <img class="albumCoverImage" src="<%= albumInfo.albumCoverImageMediumResUrl %>"/>

            <div class="playOverlay"></div>
        </div>
    </div>

    <div id="albumSongsContainer" class="orangeBorder"></div>
</div>
