<% if (userLoggedIn) {%>
<span id="addAlbumPlaylist">Add album to a playlist</span>
<% } %>

<ol class="albumSongs">
    <%_.each(albumSongs, function(song) {%>
    <li class="albumSong" data-id="<%= song.songPreviewUrl %>">
        <span class="albumSongNumber"><%= song.songNumber %></span>
        <% if (userLoggedIn) {%>
        <img class="albumSongAddPlaylist" src="img/icons/add.png">
        <% } %>
        <span class="albumSongTitle"><%= song.songName %></span>
        <span class="albumSongLength"><%= song.songLength %></span>
    </li>
    <%});%>
</ol>

<div class="songCount"><strong><%= albumSongs.length %> songs</strong></div>
<div id="playlistMenuContainer" class="hidden"></div>