#albumBackground {
    position: fixed;
    opacity: 0.5;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

#albumContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    padding: 30px;
    overflow-y: auto;
}

.albumMetadata {
    text-align: center;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.albumCover {
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.albumCover .playAlbum {
    font-size: 25px;
}

.albumCover .playAlbum:hover {
    text-decoration: underline;
}

.albumCoverImage {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    display: none;
}

.albumContentContainer {
    width: 60%;
    height: auto;
}

.albumSecondaryMetadata {
    font-size: 24px;
}

.albumYear {
    color: #c5c5c5;
}

.albumRating {
    padding: 0;
    white-space: nowrap;
    clear: both;
}

.albumRating li {
    display: inline;
    font-size: 30px;
    cursor: pointer;
}

#addAlbumPlaylist {
    margin-left: 15px;
    cursor: pointer;
}

#addAlbumPlaylist:hover {
    text-decoration: underline;
}

#albumSongsContainer {
    background-image: url("../img/textures/static_top.png");
    width: calc(100% - 40px);
    padding: 20px;
    margin: 30px auto 10px auto;
}

.albumSongs {
    padding: 0;
    overflow-y: auto;
}

.albumSongs li {
    border-bottom: 1px solid #eee;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
}

.albumSongs li .albumSongAddPlaylist {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.albumSongs li .albumSongTitle {
    flex-grow: 100; /* Have it take as much space as possible*/
    width: 0; /* Let the  flex control width */
    margin: 0 10px;
}

.albumSongs li .albumSongNumber {
    display: inline-block;
    text-align: center;
    padding: 0 3px;
    cursor: pointer;
    width: 20px;
    margin-right: 10px;
}

.albumSongs li:hover {
    background-color: #f8f8f8;
}

.albumSongs li:hover .albumSongNumber {
    background-image: url("../img/icons/playOverlay_black.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}

.albumSongs li .albumSongNumber:hover {
    opacity: 0.75;
}

.albumSongs li .albumSongAddPlaylist:hover {
    transform: rotate(180deg);
    -webkit-filter: brightness(150%);
}

.songCount {
    text-align: right;
}

.albumMetadata .playOverlay {
    display: none;
}

@media screen and (min-width: 480px) {
    #albumSongsContainer {
        width: calc(100% - 80px);
        margin: 30px 10px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    .albumMetadata .playOverlay {
        display: inline-block;
    }

    .albumMetadata {
        margin-bottom: 85px;
    }

    .albumCover {
        width: 20vw;
        height: 20vw;
        position: relative;
        border: solid rgb(255, 145, 5) 3px;
    }

    .albumCover a {
        display: none;
    }

    #albumContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    #albumSongsContainer {
        width: 50%;
        padding: 20px;
    }

    .albumCoverImage {
        display: inline-block;
    }

    .albumRating li {
        font-size: 45px;
    }
}

@media screen and (min-width: 1200px) {

}

