#artistAlbums {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#artistHeader {
    min-height: 474px;
    position: relative;
}

#artistHeaderContent {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    top: 0;
    left: 0;
}

#artistHeaderCanvas {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(1px);
}

#artistName {
    font-size: 60px;
    float: left;
}

#artistDescription {
    display: inline-block;
    padding: 10px;
    width: 110px;
    margin: 30px 15px 10px 10px;
    float: right;
}

.artistAlbumEntry {
    padding: 15px;
    width: calc(100% - 20px);
}

.artistAlbumCover {
    padding-top: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    position: relative;
    cursor: pointer;
}

.artistAlbumCover img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.artistAlbumMetadata {
    font-size: 15px;
    font-weight: bold;
}

.artistAlbumDate {
    color: #6f6f6f;
    margin: 5px 0px;
}

@media screen and (min-width: 480px) {

    .artistAlbumEntry {
        width: calc(50% - 35px);
    }

}

@media screen and (min-width: 768px) {
    #artistDescription {
        float: right;
    }

    #artistHeader {
        height: 300px;
    }

    #artistName {
        font-size: 60px;
    }

    .artistAlbumEntry {
        width: calc(33% - 35px);
    }

}

@media screen and (min-width: 992px) {

    #artistName {
        font-size: 75px;
    }

}

@media screen and (min-width: 1200px) {

    #artistHeaderContent {
        height: 150px;
    }

    #artistName {
        font-size: 100px;
    }

    #artistDescription {
        float: right;
    }

    .artistAlbumEntry {
        width: calc(25% - 35px);
    }
}
