#homeContainer {
    background-color: rgb(218, 215, 207);
    height: 100%;
}

.homeLinks {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.homeLink {
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 15vw;
}

.homeLink a {
    display: block;
    padding: 30% 0;
    color: rgba(255, 255, 255, 0.4);
    font-size: 25vw;
    width: 100%;
    height: 100%;
}

#link1 a {
    color: rgba(0, 0, 0, 0.5);
}

#link1 {
    background-image: url("../img/home/tame-impala.jpg");
}

#link2 {
    background-image: url("../img/home/beatles.jpg");
}

#link3 {
    background-image: url("../img/home/resistance.jpg");
}

#link4 {
    background-image: url("../img/home/jimi-hendrix.jpg");
}

#link5 {
    background-image: url("../img/home/flaminglips.jpg");
}

