.userForm input {
    border: ridge lightgray;
    width: 70%
}

.userForm li {
    margin-bottom: 10px;
}

.userActionButtonForm {
    display: block;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}

.userForm {
    background-color: #eee;
    background-image: url("../img/textures/static_top.png");
    text-align: right;
    padding: 5px;
    border: solid thick rgb(255, 145, 5);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#loginFormContainer {
    width: 100%
}

@media screen and (min-width: 480px) {
    #loginFormContainer {
        width: auto
    }

    .userForm input {
        width: auto
    }
}