#playlistMenuContainer {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 5px #999;
}

#playlistMenuContainer ul li {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    min-width: 110px;
    -webkit-user-select: none;
}

#playlistMenuContainer ul li:hover {
    background-color: rgba(255, 145, 5, 0.5);
    box-shadow: 0 0 5px rgb(255, 145, 5);
}