.playlistSongs {
    padding-left: 0;
}

.playlistName {
    font-weight: bold;
}

.playlistSongEntry {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(153, 153, 153);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10pt;
    -webkit-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    -ms-transition: box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    cursor: pointer;
}

.playlistSongEntry:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

.playlistAlbumCoverMiniature {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    position: relative;
    min-width: 70px;
    display: none
}

.playlistAlbumCoverMiniature img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playlistSongMetadata {
    margin-left: 10px;
}

.playlistSongLength {
    margin-left: auto;
    min-width: 40px;
}

.allPlaylistContainer {
    padding-bottom: 60px;
}

.playlistContainer {
    width: 90%;
    border-top: 1px solid rgb(153, 153, 153);
    margin: 10px auto 10px auto;
    padding: 0 0 0 10px;
}

.playlistInfo {
    width: 100%;
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

}

.playlistSongs {
    width: 90%;
    margin: 0 auto 10px auto;
}

.playlistNumberOfSongs {
    margin-left: auto;
}

.playlistNumberOfSongsLabel {
    margin-left: 5px;
    margin-right: 10px;
    min-width: 40px;
}

.playlistActions {
    margin: 0 0 10px 0;
}

.createPlaylist {
    position: relative;
    width: 90%;
    margin: 20px auto 10px auto;
    padding-bottom: 5px;
}

.playlistNumber {
    text-align: center;
    padding: 0 3px;
    cursor: pointer;
    width: 20px;
    margin-right: 10px;
}

.playlistInfo:hover .playlistNumber {
}

.playlistNumber:hover {
    background-image: url("../img/icons/playOverlay_black.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.8;
}

.deletePlaylistButton {
    background: url("../img/icons/trash.png") no-repeat center;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
}

.deletePlaylistTrackButton {
    background: url("../img/icons/trash.png") no-repeat center;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
}

.editPlaylist {
    position: relative;
}

.editPlaylistButton {
    background: url("../img/icons/edit.png") no-repeat center;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
}

.editPlaylistName {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.okEditPlaylistButton {
    margin-left: 110px;
}

.acceptButton {
    background: url("../img/icons/accept.png") no-repeat center;
    background-size: 15px 15px;
    width: 20px;
    height: 20px;
}

.cancelButton {
    background: url("../img/icons/cancel.png") no-repeat center;
    background-size: 15px 15px;
    width: 20px;
    height: 20px;
}

#newPlaylistButton {
    margin-left: 210px;
}

#newPlaylistName {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}

.playlistErrorMessage {
    color: red;
    width: 90%;
    margin: 20px auto 10px auto;
    padding-bottom: 5px;
}

@media screen and (min-width: 480px) {
    .editPlaylistName {
        width: 180px;
    }

    .okEditPlaylistButton {
        margin-left: 190px;
    }

    .playlistAlbumCoverMiniature {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .playlistSongEntry {
        font-size: 12pt;
    }
}