#researchHeader {
    margin: 15px 0 30px 15px;
}

#researchResults {
    font-size: 30px;
}

#researchFilter {
    margin-right: 50px;
    margin-top: 20px;
}

.filterContainer {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 8px;
    cursor: pointer;
    margin: 5px;
    -webkit-user-select: none;
    box-shadow: 0 0 3px rgb(153, 153, 153);
}

.filterContainer:hover {
    box-shadow: 0 0 10px rgb(153, 153, 153);
}

#researchFilter a {
    font-size: 20px;
}

#researchFilter a {
    color: black;
}

.selectedFilter {
    color: rgb(255, 115, 0);
}

#results {
    margin-bottom: 60px;

}

.result {
    height: 80px;
    border-top: 1px solid rgb(153, 153, 153);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    -ms-transition: box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    cursor: pointer;
}

.result:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

#results img {
    margin: 0 20px;
    width: 50px;
    height: 50px;
}

.searchAddPlaylist {
    width: 50%;
    background: #8C8985;
    background-image: -webkit-linear-gradient(top, #A5A3A1, #797979);
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.searchAddPlaylist:hover {
    background: #9f9b95;
}

.buttonContainer {
    min-width: 145px;
    text-align: center;
}

@media screen and (min-width: 768px) {

}