.searchResults {
    border: 1px solid black;
    border-radius: 5px 5px 10px 10px;
    background-color: #eee;
    padding-bottom: 5px;
}

.singleResult {
    border-top: 1px solid black;
    margin-left: 3px;
    margin-right: 3px;
    width: 300px;
    height: 70px;
    display: block;
}

.searchImage {
    float: left;
    display: inline-block;
    margin-left: 2px;
    margin-top: 5px;
    margin-right: 2px;
}

.mainTextResult {
    font-size: large;
}

.subTextResult {
    opacity: 0.5;
    font-size: smaller;
}

.searchInformation {
    margin-top: 5px;
    float: left;
    display: inline-block;
}

.removeTextTooLong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 235px;
}

.singleResult:hover {
    background-color: rgb(255, 145, 5);
    color: white;
}

.searchBarPositionning {
    position: relative
}

#searchResults {
    position: absolute;
}

#search input[type="text"] {
    border: 1px solid #d1d1d1;
    font: bold 14px Arial, Helvetica, Sans-serif;
    color: #bebebe;
    width: 250px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    outline: 0;
    display: none;
}
