/** Main layout and styling for static items **/
.fixed {
    position: fixed;
    background-image: url("../img/textures/static_top.png");
    background-repeat: repeat;
    -webkit-transform: translateZ(0);
}

.static {
    height: 70px;
    background-color: #eee;
    transition: box-shadow 0.3s;
}

.static:hover {
    box-shadow: 0 0 15px #666;
}

#tabContainer {
    width: 100%;
    height: calc(100vh - 130px);
    position: absolute;
}

.staticMargin {
    margin-top: 75px;
}

/**** Bottom panel styling ****/

.static#currentSongPlayer {
    z-index: 9;
    height: 55px;
    text-align: center;
    /*display: flex;
    align-items: center;*/
    justify-content: center;
    border-top: solid thick rgb(255, 145, 5);
    -webkit-user-select: none;
}

#currentSongPlayer .timeHandle {
    background: rgb(255, 145, 5);
    display: none;
    position: relative;
    top: 2px;
    left: -7px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
}

#currentSongPlayer .timeHandle[data-beginning=false] {
    display: inline-block;
}

#currentSongPlayer .progressBar {
    width: 0;
    height: 10px;
    background-color: #888;
    display: inline-block;
}

#currentSongPlayer .songTimeTracker {
    width: 100%;
    height: 10px;
    text-align: left;
    margin-top: -5px;
    white-space: nowrap;
}

#currentSongPlayer ul {
    list-style-type: none;
    width: 100%;
    margin-top: 7px;
}

#currentSongPlayer ul li {
    display: inline-block;
    margin: 0 5px;
}

#currentSongPlayer ul li.songControl {
    width: 35px;
    height: 40px;
    background-repeat: no-repeat;
    transition: box-shadow 0.25s;
    cursor: pointer;
    background-position: center;
    background-size: contain;
}

#currentSongPlayer ul li.songControl:hover {
    box-shadow: 0px 2px 6px #aaa;
}

#currentSongPlayer ul li.songControl:active {
    background-color: #c9c9c9;
}

#currentSongPlayer ul li.playPause {
    background-image: url("../img/icons/audio_play.png");
}

#currentSongPlayer ul li.playPause[data-paused=false] {
    background-image: url("../img/icons/audio_pause.png");
}

#currentSongPlayer ul li.next {
    width: 48px;
    background-image: url("../img/icons/audio_next.png");
}

#currentSongPlayer ul li.previous {
    background-image: url("../img/icons/audio_previous.png");
    width: 48px;
}

.playlist {
    float: right;
    margin: 5px;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    cursor: pointer;
    transition: box-shadow 0.25s;
}

.playlist:hover {
    box-shadow: 0px 2px 6px #aaa;
}

.playlist:active {
    background-color: #c9c9c9;
}

#mainVolume {
    display: none;
}

.volumeLevel {
    display: none;
}

input[type=range]#mainVolume {
    -webkit-appearance: none;
    padding-bottom: 10px;
    background: transparent;
    width: 100px;
}

input[type=range]#mainVolume::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #b4b4b4;
    border: none;
    border-radius: 3px;
}

input[type=range]#mainVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 145, 5);
    margin-top: -5px;
}

input[type=range]#mainVolume:focus {
    outline: none;
}

input[type=range]#mainVolume:active::-webkit-slider-runnable-track {
    background: #ccc;
}

.volumeControl {
    float: left;
}

.selected {
    background-color: rgb(255, 145, 5);
    color: white;
}

.volumeControl .volumeLevel {
    content: "";
    width: 25px;
    height: 25px;
    right: 0;
    margin-top: 10px;
    background: url("../img/icons/volume.png") no-repeat 0 -50px;
}

/**** Top panel styling ****/
.top.static {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid thick rgb(255, 145, 5);
    width: 100%;
    z-index: 10;
    top: 0;
}

.top.static > :first-child {
    margin-left: 20px;
}

.titleName {
    margin: 0;
    float: left;
}

.normalFontLogo {
    font-size: 75px;
}

.orangeLetter {
    color: rgb(255, 145, 5);
}

.greyLetter {
    color: rgb(102, 102, 102);
}

.textStyle {
    font: bold 12px sans-serif;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s;
}

ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.subMenuTransition {
    padding: 0;
    position: absolute;
    top: 48px;
    display: none;
    visibility: hidden;
}

.subMenu {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 black;
}

.subMenu:hover {
    background: #666;
}

#userContainer {
    margin-right: 20px;
}

#userContainer a {
    color: white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    float: right;
    margin-top: -19px;
}

#connectionButtons ul li {
    display: inline;
}

.textButton {
    font-size: 16px;
    border-radius: 25px;
}

.textButton:hover {
    background: grey;
    background: linear-gradient(white, white), lightgrey;
    box-shadow: inset 0 -1px 1px lightgrey, 0 4px 0 lightgrey, 0 5px 8px rgba(0, 0, 0, 0.35);
}

.formContainer.opened {
    max-height: 500px;
}

.formContainer {
    position: absolute;
    margin-right: 0px;
    top: 70px;
    right: 0px;
    overflow: hidden;
    transition: 0.7s;
    max-height: 0;
}

.formErrorMessage {
    font-size: 12px;
    color: red;
}

.userInfoList {
    display: inline-block;
}

.userGravatar {
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 3px;
}

#currentSongPlayer ul li.searchIcon {
    float: left;
}

#currentSongPlayer ul li.mobileSearchBar {
    position: absolute;
    top: -25px;
    left: 0;
    display: none;
}

#currentSongPlayer ul li.mobileSearchBar > input {
    border-radius: 10px;
    outline: none;
    padding: 0 5px;
}

@media screen and (min-width: 300px) {

    #mainVolume {
        display: none;
    }

    .volumeLevel {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    #currentSongPlayer ul li.searchIcon {
        display: none;
    }

    #mainVolume {
        display: inline-block;
    }

    .volumeLevel {
        display: inline-block;
    }

    #search input[type="text"] {
        display: inline;
    }

    .top.static > :first-child {
        margin-left: 50px;
    }
}




