body, html {
    margin: 0px;
    padding: 0px;
    font-family: "Droid Sans", sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "Oswald";
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.whitePageHeading {
    font-size: 60px;
    color: white;
}

.blackTextShadow {
    text-shadow: 2px 2px 2px black, 0 0 1em black, 0 0 0.2em black;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#content {
    margin: 0 3% 55px;
}

.truncatedText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.frostedGlass {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background: rgba(234, 237, 250, 0.75);
    border-top: 1px solid rgba(250, 253, 255, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.playOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    background-image: url("../img/icons/playOverlay.png");
    /*background-size: 60% 60%;*/
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.insideBlackBoxShadow {
    box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.7);
}

.playOverlay:hover {
    opacity: 0.5;
}

.bottom {
    bottom: 0;
    width: 100%;
}

.noScroll {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}

.orangeBorder {
    border: solid rgb(255, 145, 5) 3px;
}

.itunesDownloadButton {
    display: inline-block;
    background: url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;
    width: 110px;
    height: 40px;
    margin-top: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.logo {
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.black {
    color: black;
}

.white {
    color: white;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}