.profilePicture {
    display: inline-block;
}

.topUserPage {
    padding: 40px 10%;
    border-bottom: 5px solid rgb(130, 122, 112);
    border-left: 4px solid rgb(157, 150, 142);
    border-right: 4px solid rgb(157, 150, 142);
    background-image: url("../img/textures/userHeader.png");
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.profileName {
    margin-bottom: 10px;
}

.profileName * {
    display: block;
}

.profileName h1 {
    font-size: 40px;
}

.profileName h4 {
    font-size: 15px;
    color: rgb(169, 161, 150);
}

.profilePicture {
    width: 90px;
    height: 90px;
}

.profilePicture img {
    border: 3px solid rgb(157, 150, 142);
    width: 100%;
    height: 100%;
}

#userProfileFriendlist {
    width: 100%;
}

.userFriendEntry {
    display: inline-block;
    width: 130px;
    height: auto;
    margin: 15px;
}

.userFriendEntry a {
    color: black;
}

.userFriendName {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userFriendImage {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.userFriendImage img {
    width: 100%;
    height: 100%;
}

.noFriendMessage {
    margin-left: 36px;
}

#userProfilePlaylists {
    top: 0;
    display: inline-block;
    padding-right: 20px;
    width: 100%;
}

#unfollowFollowedUser {
    display: block;
    width: 75px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .profileName h1 {
        font-size: 60px;
    }

    .profileName h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .profileName h1 {
        font-size: 90px;
    }

    .profileName h4 {
        font-size: 30px;
    }

    .profilePicture {
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
