.followUserButton {
    background: #ff8f05;
    background-image: -webkit-linear-gradient(top, #ff8f05, #ff6f00);
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.followUserButton:hover {
    background: #fa9f2f;
    background-image: -webkit-linear-gradient(top, #fa9f2f, #ff8426);
    background-image: linear-gradient(to bottom, #fa9f2f, #ff8426);
    text-decoration: none;
}