<%_.each(albumMiniatures, function(album) {%>
<div class="artistAlbumEntry">
    <div class="artistAlbumCover">
        <img src="<%= album.albumCoverImageMediumResUrl %>"/>

        <div class="playOverlay" data-id="<%= album.albumId %>"></div>
    </div>
    <div class="artistAlbumMetadata truncatedText">
        <a class="black" href="#albums/<%= album.albumId %>"><%= album.albumName %></a>

        <p class="artistAlbumDate"><%= album.albumReleaseDate %></p>
    </div>
</div>
<%});%>
