<div id="artistHeader" class="insideBlackBoxShadow">
    <canvas id="artistHeaderCanvas"></canvas>
    <div id="artistHeaderContent">
        <h1 id="artistName" class="whitePageHeading blackTextShadow"><%= artistInfo.artistName %></h1>

        <div id="artistDescription" class="frostedGlass">
            <ul>
                <li>
                    <strong>Genre: </strong><%= artistInfo.primaryGenreName %>
                </li>
                <li>
                    <a class="itunesDownloadButton" href="<%= artistInfo.artistLinkUrl %>"
                       target="itunes_store"></a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div id="content">
    <h2>Album list</h2>

    <div id="artistAlbums"></div>
</div>

