<div class="songTimeTracker">
    <span class="progressBar"></span>
    <span class="timeHandle"></span>
</div>

<div>
    <ul>
        <li class="searchIcon">
            <img src="img/icons/search.png">
        </li>
        <li class="mobileSearchBar">
            <input id="mobileSearchBarInput" type="text">
        </li>
        <li class="leftDrawerToggle"></li>
        <li class="volumeControl">
            <input id="mainVolume" type="range" min="0" max="100">
            <span class="volumeLevel"></span>
        </li>
        <li class="previous songControl"></li>
        <li class="playPause songControl"></li>
        <li class="next songControl"></li>
        <li class="currentAlbumCover"></li>
        <li class="playlist">
            <a href="#playlists">
                <img src="img/icons/playlist.png">
            </a>
        </li>
    </ul>
</div>
