<div id="homeContainer">
    <ul class="homeLinks">
        <li id="link1" class="homeLink logo insideBlackBoxShadow"><a href="#/artists/290242959">U</a></li>
        <li id="link2" class="homeLink logo insideBlackBoxShadow"><a href="#/artists/136975">B</a></li>
        <li id="link3" class="homeLink logo insideBlackBoxShadow"><a href="#/albums/326492721">e</a></li>
        <li id="link4" class="homeLink logo insideBlackBoxShadow"><a href="#/artists/62819">a</a></li>
        <li id="link5" class="homeLink logo insideBlackBoxShadow"><a href="#albums/877807687">t</a></li>
    </ul>
</div>
