<div class="profileName">
    <div id="profileNameText">
        <h1 class="profileName whitePageHeading blackTextShadow"><%= userOnPage.name %></h1>
        <h4 class="blackTextShadow"><%= userOnPage.email %></h4>
    </div>
    <button type="button" id="toggleFollowUser" class="followUserButton">
        <% if(!followingUser) {%>
        +Follow
        <% } else{%>
        Unfollow
        <% }%>
    </button>
</div>
<div class="profilePicture">
    <img src="<%= userOnPage.veryBigGravatarImage %>">
</div>
</div>