<h2>Following</h2>

<%_.each(user.attributes.following, function(friend) {%>
<div class="userFriendEntry">
    <a href="#user/<%= friend.id %>">
        <div class="userFriendImage">
            <img src="<%= friend.bigGravatarImage %>">
        </div>
        <p class="userFriendName"><%= friend.name %></p>
    </a>
    <% if(isConnectedUser){ %>
    <button type="button" id="unfollowFollowedUser" data-id="<%=friend.id%>" class="followUserButton">Unfollow</button>
    <% } %>
</div>
<%});%>

<% if(numberOfFriends == 0) { %>
<% if(isConnectedUser) { %>
<p class="noFriendMessage">You currently follow nobody. Try to follow some users.</p>
<% }else { %>
<p class="noFriendMessage">The user currently follows nobody.</p>
<% } %>

<% } %>
