<h2>Playlists</h2>
<div class="playlistErrorMessage hidden"></div>
<% var i = 1 %>
<div class="allPlaylistContainer">
    <%_.each(playlists, function(playlist) {%>
    <div class="playlistContainer noselect" id="playlistContainer<%= i%>" data-id="<%= playlist.id %>">
    </div>

    <% i = i + 1 %>
    <%});%>
</div>
