<div class="playlistInfo">
    <div class="playlistNumber"><%= playlistNumber %></div>
    <div class="playlistName">
        <%= playlist.name %>
    </div>
    <div class="playlistNumberOfSongs"><%= playlist.numberOfSongs %></div>
    <div class="playlistNumberOfSongsLabel">
        <% if (playlist.numberOfSongs > 1) { %>
        songs
        <% } else {%>
        song
        <% }%>
    </div>
</div>
<ul class="playlistSongs hidden">

</ul>