<div id="content">
    <div class="topUserPage">
    </div>

    <div class="bottomUserPage">
        <div id="userProfileFriendlist">
        </div>
        <div id="userProfilePlaylists"></div>
    </div>
</div>
